@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
	padding: 0;
	margin: 0;
}
body{
  background-color: #a4d7e0;
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la pantalla */
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
.personajes img{
  width: 50%;
  padding-left: 23%;
  padding-bottom: 5%;
  padding-top: 5%;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #62b0b3;
    padding: 10px;
    position: relative; /* Añadido para el posicionamiento del menú */
    align-items: center; /* Alinea verticalmente el logo y la navegación */
}
#sobre_nosotros li {
  display: inline-block;
  margin: 1% 15px 0;
  font-family: 'Ubuntu';
  font-size: 1.3rem;
  color: #000000;
}
.icon{ 
  display: none; 
}
a{
	text-decoration: none;
}
nav{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1; /* Permite que la navegación ocupe el espacio restante */
}
/* Esta es la regla para alinear los elementos del menú */
nav > ul {
  display: flex; /* Pone los <li> uno al lado del otro */
  list-style: none;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  gap: 2rem; /* Espacio entre los elementos de la lista */
}
nav > ul a {
  color: #000000;
}
nav ul li a{
  list-style: none;
}
li {
  list-style: none;
}
nav ul li a:hover,
nav ul li:hover
{
  color: rgb(255, 255, 255);
}
.logo{
width: 15%;
}
 /* Menú desplegable de la versión de escritorio */
.dropdown-content a:hover{
  color: rgb(255, 255, 255);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  background-color: #3888ad;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.dropdown a {
  display: block;
  color: #000000;
}
.dropdown:hover .dropdown-content {
  display: block;
}
div nav{
	color: #ffffff;
	font-family: 'Ubuntu';
}
p a{
  color: #000000;
}
.titulo_deportes{
  font-family: 'Ubuntu';
  color: #000000;
  text-align: center;
  margin-top: 3%;
  font-size: 1.5;
}
/* --- Estilos para las tarjetas de canchas --- */

.canchas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem 0;
}

.cancha-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.cancha-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cancha-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cancha-card-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Para que el cuerpo de la tarjeta crezca y empuje el botón hacia abajo */
}

.cancha-card-body h4 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.cancha-card-body p {
  font-size: 1rem;
  color: #666;
  flex-grow: 1; /* Permite que la descripción ocupe el espacio disponible */
}

.cancha-card-body .precio {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin-top: 1rem;
}

/*----------------------------- INICIO ESTILOS DE PAGINA CONTACTO --------------------------------------*/
.formu{
  flex: 0 0 45%;
  color: #000000;
  font-family: 'Ubuntu';
  background-color: #a4d7e0;
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 20px; /* Espacio interno */
  text-align: center; /* Centra el texto */;
  display: flex;
  flex-direction: column;
}

.formu form {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.formu form input[type="text"],
.formu form input[type="password"],
.formu form input[type="email"] {
  width: 60%;
  align-self: center;
  box-sizing: border-box; /* Esto es importante para que el padding no afecte el ancho total */
  padding: 8px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  gap: 20px;
}

.form-buttons input {
  padding: 8px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #62b0b3;
  color: white;
}

#Enviar:hover{
  background-color: #21546d;
}
#Resetear:hover{
  background-color: #21546d;
}
.formu form textarea {
  width: 60%;
  height: 128px;
  align-self: center;
  box-sizing: border-box;
}
.formu_side{
  flex: 0 0 45%;
  background-image: url("../Imagenes/Fondo_Formu.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
/*----------------------------- FIN ESTILOS DE PAGINA CONTACTO ----------------------------------------*/

/*----------------------------- INICIO ESTILOS DE MAPA ----------------------------------------*/
.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  margin-top: 20px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/*----------------------------- FIN ESTILOS DE MAPA ----------------------------------------*/
.container-principal {
  display: flex;
  align-items: stretch;
  flex: 1;
}
.columna-texto {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.columna-texto-2 {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title_logo{
  margin-top: 4%;
  margin-left: 36%;
}
/*--------------------------------------- Inicio Efecto Zoom en Imagenes -----------------------------------------*/
 img.redes{
    width: 35px;
    height: 35px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    margin-left: 2%;
}
 
.transition {
    -webkit-transform: scale(0.8); /*0.x --> para adentro // 1.x --> para afuera*/
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
/*--------------------------------------- Fin Efecto Zoom en Imagenes -------------------------------------------*/
div h1{
	font-family: 'Ubuntu';
	color: #000000;
}
div h2{
  font-family: 'Ubuntu';
  margin-bottom: 50%;
  color: #000000;
}
article h3{
  margin-left: 2.5%;
  margin-bottom: 1.5%;
  margin-top: 2%;
  font-size: 1.5rem;
}
h3{
	font-family: 'Ubuntu';
	margin-left: 3%;
	color: #000000;
}
article p{
	font-size: 1.3rem;
	font-family: 'Ubuntu';
	margin-left: 3%;
  display: block;
  color: #000000;
}
article ul li {
  font-size: 1.3rem;
  font-family: 'Ubuntu';
  margin-left: 8%;
  margin-top: 1%;
  color: #000000;
}
footer{
	background-color: #62b0b3;
	text-align: center;
}
footer .redes-sociales {
  display: block;
  padding: 0.7rem 2rem;
  text-align: right;
}
.legales{
  font-family: 'Ubuntu';
  text-align: left;
  margin-left: 2%;
}
footer div a{
  font-family: 'Ubuntu';
  color: #000000;
  display: inline-block;
  margin: 0 7px;
}
#sobre_nosotros_footer li{
  font-family: 'Ubuntu';
  font-size: 1.1rem;
  color: #000000;
  display: inline-block;
  margin-top: 1%;
  padding: 0.7rem;
}

/* --- Estilos para la ventana modal --- */

/* El fondo del modal (overlay) */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Se queda en su lugar */
  z-index: 1000; /* Se sienta encima de todo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilita el scroll si es necesario */
  background-color: rgb(0,0,0); /* Color de fondo */
  background-color: rgba(0,0,0,0.4); /* Negro con opacidad */
}

/* Contenido del Modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% desde arriba y centrado horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Podría ser más pequeño o más grande dependiendo del contenido */
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: animatetop 0.4s;
}

/* Animación de entrada */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* El botón de cerrar (x) */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para el botón que abre el modal */
.btn-ver-horarios {
  display: block;
  background-color: #3888ad;
  color: #ffffff;
  text-align: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
  border: none; /* Los botones tienen borde por defecto, lo quitamos */
  cursor: pointer;
  width: 100%; /* Hacemos que ocupe todo el ancho del contenedor padre */
  font-family: 'Ubuntu', sans-serif; /* Aseguramos la fuente */
  font-size: 1rem;
}

.btn-ver-horarios:hover {
  background-color: #2a6a8a;
}
